* {
	font-size: 10px ;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#titre {
	font-size: 25px ;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

table.calendar {
	border: 1px solid #BBC ;
	background-color: #EAEAEF;
	font-size: 9px ;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0055BB;
}

table.cartouche {
	border: 1px solid #BBC ;
	background-color: #EAEAEF;
	font-size: 10px ;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0055BB;
}

td.cartouche {
	border: 1px solid #BBC ;
	background-color: #EAEAEF;
	font-size: 10px ;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0055BB;
}


#calendar {
	float:left;
	margin: 10px;
}

#cartouche {
	position:relative;
	margin: 10px;
	padding: 2px;
}

#content {
	position:relative;
	border: 1px solid #BBC ;
	margin: 10px;
}